.Person {
  display: flex;
  position: relative;
  background: url('../assets/person.svg') no-repeat 50% 50%;
  background-size: 60%;
  width: 20vw;
  height: 20vw;
  max-height: 25vh;
  
  &#player {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    
    .TextBubble {
      top: 0;
      bottom: initial;
      transform: translate(-50%, -100%);
    }
  }

  &#narrator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-image: none;
    
    .TextBubble {
      top: 0;
      bottom: initial;
      transform: translate(-50%, -100%);
      box-shadow: 6px 6px 0px 0px black;
    }
  }


  &#uncle {
    background-image: url('../assets/uncle.svg');
    order: 3;
  }

  &#cousin1 {
    order: 1;
    
    .TextBubble {
      transform: translate(-20%, 100%);
    }
  }

  &#cousin2 {
    order: 2;
  }

  &#mom {
    order: 4;
  }
  
  &#bystander4 {
    order: 5;
  }
}
