.Stage {
  position: relative;
  display: flex;
  max-width: 177.77vh;
  max-height: 56.25vw;
  padding-bottom: 3/4 * 100%;
  margin: 0 auto;
  background-color: white;
  
  &.clickable {
    cursor: pointer;
  }
}
