.TextBubble {
  position: absolute;
  background-color: white;
  min-width: 300px;
  max-width: 30vw;
  border: 1px solid;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  font-size: 16px;
  line-height: 22px;
  font-family: sans-serif;
  
  .text {
    padding: 1em;
  }
  
  .timer {
    transition: width 8s linear;
    position: absolute;
    width: 0;
    bottom: 0;
    height: 4px;
    background-color: black;
    
    &.active {
      width: 100%;
    }
  }
  
  button {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 1em 1em;
    background: white url('../assets/checkmark.svg') no-repeat 50% 50%;
    border: 1px solid;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    
    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: #666;
    }
    
    &.dismiss {
      background-image: url('../assets/x.svg');
    }
  }
  
}
